LAN_IP=

BACKEND_PORT=
NOMINATIM_PORT=
VALHALLA_PORT=
EXPO_PORT=

# Nominatim server URL
NOMINATIM_URL = http://${LAN_IP}:${NOMINATIM_PORT}

# Valhalla server URL
VALHALLA_URL = http://${LAN_IP}:{VALHALLA_PORT}

# Expo public API URL
EXPO_PUBLIC_API_URL = http://${LAN_IP}:${BACKEND_PORT}

# Downloaded osm.pdf map data
PBF_FILE=