# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

EN-ROUTE/
backend/__pycache__
backend/app/config.py
backend/app/docker-compose.yml
backend/app/__pycache__
backend/app/__pycache__
backend/app/routes/__pycache__
backend/app/schemas/__pycache__
backend/app/services/__pycache__
backend/venv/
src/constants/
map-data/maryland-latest.osm.pbf
photon-1.2.1/
requirements.txt

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
